@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
  
}

:root{
	--primary:#6a5acd;
}

.heading{
	text-align:center;
	padding-top:1rem;
	font-size:2rem;
	color: var(--primary);
    margin-bottom: 1.5rem;
	position: relative;
	

}

.header{
	width:100vw;
	position:fixed;
	top:0;
	left:0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:0.5rem;
	z-index: 100;


}
.fa-bars,.fa-times{
	color: white;
	font-size:2rem;
	position: absolute;
	right: 0;
	display: none;
}
.logo{
   	width:9vw;
	height:7vw;
	
	
}

.logo img{
	width:5vw;
	height:5vw;
	border:0.2rem solid black;
	padding: 0.3rem;
   border-radius: 5rem;
   margin:0.5rem;
}

.navbar ul{
	display: flex;
}
.navbar ul li{
	list-style-type: none;
	margin-right:4rem;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 1.2rem;

}
.home{
	position:relative;
	top:0;
	left:0;
	z-index: -1;
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-row-start: repeat(2,1fr);
	text-align:center;
	align-items: center;
	/*background:linear-gradient(rgba(80, 50, 100,0.5),rgba(106,80,70,0.3)),url("images/sir.png");*/
	background-color: #6a5acd;;
	background-repeat: no-repeat;
	background-size: cover;

  

}
.home .content{
	font-size: 2rem;
	color: white;
	width: 100vw;
	margin-top:12rem;
	

}

.home-image img{
   margin-bottom:7rem;
	width:30vw;

}
.home .waves{
	position: absolute;
	bottom:-4rem;
	left:0;
	width: 100%;
}

.content emp{
	color:#0d0d0d;
	font-weight: bold;
}

.bg{
	position: absolute;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
  
   z-index: 2;
}
.about {
	width:100vw;
	min-height: 70vh;
	position: relative;
	overflow: hidden;
	margin:0rem;
	


}
.about .row {
	display: flex;
	justify-content:space-around;
	align-items: center;
	padding:0 4rem;

}
.about .row .content{
	width:50vw;
	text-align:justify;
	word-spacing: 0.5rem;

}
.about .row .right img{
	width:45vw;
	margin:0 2rem;
}
h2{
  color:  var(--color);
}

.btn{
	background-color: var(--color);
	padding: 0.5rem 2rem;
	border-radius: 5rem;
	margin:1rem 0;
}






.about {
	width:100vw;
	min-height: 70vh;
	position: relative;
	overflow: hidden;
	


}
.about .row {
	display: flex;
	justify-content:space-around;
	align-items: center;
	padding:0 4rem;

}
.about .row .content{
	width:50vw;
	text-align:justify;
	padding-right: 1.5rem;

}
.about .row .right{
	min-width:28vw;
	min-height: 50vh;
	padding: 1rem;
	overflow: hidden;
	background-color: var(--primary);
}
.about .row .right img{
	width:20vw;
	display: block;
	margin:0 auto;
}
.about-content{
	width: 35vw;
	

}
.about-content h4{
	text-align: center;
	color:white;
	font-size: 1.5rem;
}
.about-content p{
	text-align: justify;
	padding: 0.4rem;
}
.about-content span{
	color: white;
}

h2{
  color:  var(--primary);
}


.about .button{
 	width: 10rem;
	height: 5rem
	font-size:3rem;
	padding: 0.5rem 2rem;
	border-radius: 5rem;
	margin:1rem 0;
	cursor: pointer;
	border: none;
	outline: none;
	margin-top:2rem;
	padding: 1rem 2rem;
	box-shadow:  0 0.3rem 0.5rem rgba(0,0,0,0.3);
	background-color: var(--primary);
}
.about .button a{
	text-decoration: none;
	color: white;
}

.what{
	position: relative;
	width:95vw;
	margin-left: 1.5rem;
	margin-top:1.5rem;
	overflow: hidden;



}
.what .container{
	position: relative;
	overflow: hidden;
	display: flex;

}
.what .card{
	position: relative;
	max-width:40vw;
	height:10vh;
	display:flex;
	flex-flow: column;
	border:1px solid black;
	background-color: #cac4ed;
	overflow: hidden;
	margin:1rem;
}
.card:hover{
	cursor:pointer;
	height: 50vh;
}
.what .card .card-inner{
	position: relative;
	width: 18vw;
	height:20vh;
	text-align: center;

}


.what .card-outer{
	  position: absolute;
	  top:5rem;
	  max-width:20vw;
	  min-height:13vh;
	  overflow: hidden;
	  padding:0.5rem;

}
.what .card-outer p{
      text-align: justify;
     
}
   

.task{
	width:100vw;
	margin:1rem 0rem;
	padding: 1rem;
	color: #ffff;
	 background-color:#29292d;

}
.task-card {
	width:20rem;
	background-color: grey;
	text-align: center;
	margin:2rem;

}
 .task .card{
 	width:100vw;
 	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.task-card .images{
	width:5rem;
	height:5rem;
	border-radius: 10rem;
	display: block;
	margin:2.3rem auto;
	border:0.2rem solid black;
}

.task  h2{
	text-align:center;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	color: black;
}
.footer .icons{
	color: black;
	text-decoration: none;
	font-size: 2rem;
	margin:1rem 2rem;
}
.fab{
	margin-right: 1rem;
}




@media (max-width:786px ){
	.header{
		width:100vw;
		display: grid;
		grid-column-start:(2,1fr); 

	}
	.header .logo img {
       display: none;
	}

	
	 .navbar {
	 	width:100vw;
	 	background-color: #b8b1e7;
	 	position:fixed;
        top:-14rem;
        z-index: -1;
        font-weight:10rem;
        font-size:1.5rem;
        line-height:3rem;
        text-align:left;
        transition:0.5s ease-in-out ;    
    


	 }
	 .navbar-toggle{
	 	top:5rem;
	 	transition:0.5s ease-in-out ;
	 }
	 .navbar ul {
	 	display: flex;
	 	flex-flow: column;
	 }
	 .navbar ul li{
	 	width:100%;
	 	border-bottom: 0.2rem solid white;
	 }

	 .navbar ul li a{
	 	color: black;

	 }
	 
	.fa-bars{
		display: block;
		margin:1rem;
	}
	.home{
	
		background-position: center; 
	}
	
	.home .home-image img{
		width:50vw;
	}
    .about .row{
		display: flex;
		flex-direction: column-reverse;
		padding: 0 2rem;
	}
	.about-content{
		width: 70vw;
		
	}
	.about .row .right img{
		width:70vw;
		height:30vw;
		
	} 
	.about .row .content{
		width:70vw;

	
	}
	.about-content h4{
	text-align: center;
	color:white;
	font-size:1rem;
}
.footer {

      	display: flex;
      	flex-flow: column;
      	justify-content: center;
      	align-items: center;
      }
      .footer h1{
      	text-align: center;
      }
	

	}
	
}